body{
  font-family: 'Roboto';
}
.e-today {
  display: none !important;
}

.ant-spin-nested-loading.gpSpinner {
  min-height: 100px;
}
.ant-modal-content {
  font-family: 'Roboto';
}
.ant-modal-header {
  padding: 13px 20px;
}
.ant-modal-content .ant-modal-body {
  padding: 0;
}
.ant-btn.ant-btn-primary {
  background: #2c4bff;
  border-color: #2c4bff;
}

.ant-btn.ant-btn-primary:hover {
  background-color: #1a3bf9;
  border-color: #1a3bf9;
}
.ant-upload.ant-upload-select-picture-card {
  height: 0px !important;
}

.footerButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.ant-calendar-input-wrap {
  display: none;
}
.timeWrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.sub-tabs .ant-tabs-top-content .ant-tabs-tabpane {
  padding: 0 30px;
  height: 280px;
  overflow-y: auto;
}

label.ant-checkbox-wrapper.ant-checkbox-wrapper-checked {
  border: 1px solid #2c4bff;
  border-radius: 25px;
}

.mediaDiv img {
  margin-top: 15px;
}

/* Modal CSS */
